.container h2 {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 1px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.3s ease-in-out;
  margin: 0 auto;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px auto;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  box-sizing: border-box;
}

#phoneno {
  padding-left: 43px !important;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  background-color: white;
  padding: 0 5px;
}

.input-container input:focus+label,
.input-container input:not(:placeholder-shown)+label {
  top: -5px;
  font-size: 12px;
  color: #007bff;
}

.input-container #phoneno:focus+label,
.input-container #phoneno:not(:placeholder-shown)+label {
  top: -5px;
  left: -20px !important;
  font-size: 12px;
  color: #007bff;
}

.input-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}

.button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.button:hover {
  background-color: #0056b3;
}

.input-container img {
  position: absolute;
  top: 50%;
  left: 8px;
  width: 28px;
  height: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: -20px;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
}

@media (max-width: 768px) {
  form {
    width: 90%;
    max-width: 320px;
  }
}

.add-train-form input[type="checkbox"],
.update-train-form input[type="checkbox"] {
  width: 20px;
  margin: 5px;
}

.add-train-form input[type="checkbox"]:focus,
.update-train-form input[type="checkbox"]:focus {
  border: none;
  box-shadow: none;
}