.search-timetable {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 110px;
  max-width: 300px;
  margin: 0 auto;
}

.search-timetable:hover {
  background-color: #0056b3;
}

.search-input input {
  width: 100%;
}

.search-input input:focus {
  outline: none !important;
}